<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        
        <add key="GitHub" value="https://nuget.pkg.github.com/mistericy/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="mistericy" />
            <add key="ClearTextPassword" value="d23ab2fa86e0697bed23ca1a55559e0e0cbf428f" />
        </github>
    </packageSourceCredentials>
</configuration>

